.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    flex-wrap: wrap;
  }
  
  .cookie-banner p {
    margin: 0;
    flex: 1;
  }
  
  .cookie-buttons {
    display: flex;
    gap: 10px;
    margin-right:4em;
  }
  
  .accept-button {
    background-color: #3e613f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
  }

  .accept-button:hover {
    background-color: #4d6e4e;
  }
  
  .cancel-button {
    background-color: rgb(80, 80, 80);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
  }  
  .cancel-button:hover {
    background-color: rgb(97, 97, 97);
  }