
  form {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }

  label {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  input, textarea {
    margin: 1em 1em 1em 0em;
    font-size: 14px;
    padding: 0.5em 3em 0.5em 0.5em;
    width: 25em;
  }

  .view-content {
    margin-bottom: 2em;
  }

  .Lbutton {
    width: 7em;
    height: 3em;
    margin-top: 1em;
    justify-content: start;
  }

  .confirmation {
    margin-top: 1em;
    color: green;
    font-weight: bold;
    text-align: center;
  }


  /* Toggle styling */

  .toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }
  
  .toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 10px;
  }

 h2 {
    color: black;
    margin-top: 2em;
 }

.kuvaus {
    color: black;
    margin: 0.5em;
    width: 34em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}
  
/* Hiding default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:checked + .slider:before {
    transform: translateX(22px);
  }