body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Funnel-light';
}

.tulossa {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

  form {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }

  label {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Funnel-light';
    font-size: 18px;
  }



  input, textarea {
    margin: 1em 1em 1em 0em;
    font-size: 14px;
    padding: 0.2em 3em 0.2em 0.2em;
    width: 25em;
    outline: none;
    font-size: 20px;
  }

  textarea {
    height: 8em;
  }



 h2 {
    color: black;
    margin-top: 2em;
    margin-left: 0.3em;
    font-family: 'Funnel';
    font-size: 30px;
 }

