/* Inter Font */
@font-face {
  font-family: 'Funnel-bold';
  src: url('./FunnelDisplay-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel';
  src: url('./FunnelDisplay-Bold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel-light';
  src: url('./FunnelDisplay-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  src: url('./Inter_28pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./Inter_28pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Light';
  src: url('./Inter_28pt-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}