.HistoriaContent {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

.HeaderForHistoria {
    display: flex;
    justify-content: center;
    color: white;
}

.HistoriaContainers {
    display: flex;
    justify-content: space-around;
}

.DivLeft {
    width: 600px;
}

.Yleisesti {
    color: white;
    text-decoration: underline;
}

.YleisestiTeksti {
    font-size: 22px;
    color: white;
}

.Miksi {
    color: white;
    text-decoration: underline;
}

.MiksiTeksti {
    font-size: 22px;
    color: white;
}

.Kohteet {
    color: white;
    text-decoration: underline;
}

.KohteetList {
    font-size: 22px;
    color: white;
}