.HistoriaContent {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.HistoriaHeader {
    color: white;
}

.HistoriaContainers {
    display: flex;
    justify-content: space-around;
}

.HistoriaLeftContainer {
    display: flex;
    flex-direction: column;
}

.YleisestiDiv {
    display: flex;
    flex-direction: column;
}

.Yleisesti {
    color: white;
}

.YleisestiTeksti {
    color: white;
    width: 500px;
}

.Miksi {
    color: white;
}

.MiksiTeksti {
    color: white;
    width: 500px;
}

.KohteetDiv {
    color: white;
}
.Kohteet {
    color: white;
}