* {
  font-family: 'Inter';

}

.YhteysLomake {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
  }

  .YhteysText {
    width:400px;
    color: white;
    margin-bottom: 1em;
  }

  .YhteysLabel {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .Hteksti {
    justify-content: center;
    align-items: center;
  }

  .Oinput, .Otextarea {
    margin: 1em 1em 1em 0em;
    font-size: 14px;
    padding: 0.5em 3em 0.5em 0.5em;
    width: 25em;
    border-radius: 1px;
    border: solid 1px rgb(152, 152, 152);
    border-radius: 2px;
    background-color: rgb(240, 240, 240);
    outline: none;

  }


  .Obutton {
    padding: 10px 20px 10px 20px;
    margin-top: 1em;
    border-radius: 3px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 12px;
    align-self: center;
  }

  .confirmation {
    margin-top: 1em;
    color: green;
    font-weight: bold;
    text-align: center;
  }
