* {
  font-family: 'Inter';

}

.YhteysLomake {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 5em;
  }

  .YhteysText {
    width:400px;
    color: white;
    margin-bottom: 0.5em;
    font-size: 17px;
    text-align:center;
  }

  .YhteysLabel {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .Hteksti {
    font-size: 34px;
  }

  .Oinput, .Otextarea {
    margin: 0.5em 1em 1em 0em;
    font-size: 14px;
    padding: 0.5em 3em 0.5em 0.5em;
    width: 25em;
    border: 2px solid rgb(113, 99, 99);
    border-radius: 3px;
    background-color:  rgba(67, 59, 59, 0.8);
    outline: none;
    color: rgb(255, 255, 255);
  }

  .Obutton {
    padding: 10px 20px 10px 20px;
    margin-top: 1em;
    border-radius: 3px;
    background-color:  rgb(104, 92, 92);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    align-self: center;
  }

  .confirmation {
    margin-top: 1em;
    color: green;
    font-weight: bold;
    text-align: center;
  }
