.etusivu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.etusivuQuote {
    font-weight: bold;
    font-size: 48px !important;
    color: white;
    padding-bottom: 1em;
    padding-top: 1em;
    font-family: 'Funnel-bold';
}

@media (min-width: 1200px) {
  .etusivuQuote {
    font-size: 56px !important;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .etusivuQuote {
    font-size: 40px !important;
  }
}

@media (max-width: 767px) {
  .etusivuQuote {
    font-size: 28px !important;
    text-align: center;
  }
}
