<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/components/UKKI/UKK.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UKK</title>
</head>
<body>
    <div class="ukkpohja">
        <h1>UKK</h1>
        <section class="faq">
            <div class="faq-item">
              <h3 onclick="toggleAnswer(this)">Kysymys</h3>
              <p class="answer">Vastaus</p>
            </div>
            <div class="faq-item">
              <h3 onclick="toggleAnswer(this)">Kysymys</h3>
              <p class="answer">Vastaus</p>
            </div>
          </section>
    </div>
</body>
</html>