.ukkpohja {
  margin: 4.5em 35em 10em 5em;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
}

.Hteksti {
  font-size: 28px;
  margin: 0.5em 0.5em 1em 0.5em;
  color: white;
}

.question {
  margin-bottom: 15px;
  cursor: pointer; 
  margin: 0.7em;
  cursor: pointer; 
  background-color: #485F7F;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

.question-opener{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.icon {
  font-size: 13px;
  margin-left: 10px;
  transition: transform 0.3s;
  font-weight: bold;
}


.answer {
  margin: 1.5em 0em 0em 1em;
  cursor:default;
  border-radius: 5px;
  margin-top: 5px;
  width: 15em;
  font-size: 12px;
  text-align: start;
  width: 85%;
}

p {
  padding-top: 0.5em;
}

