.ukkpohja {
  margin: 4.5em 35em 10em 5em;
  background-color: rgba(56, 78, 93, 0.7);
  display: flex;
  flex-direction: column;
  height: 23em;
  padding: 0.8em;
  border-radius: 10px;
}

h1 {
  font-size: 28px;
  margin: 0.5em 0em 1em 0em;
  align-items: center;
  text-align: center;
}

.question {
  margin-bottom: 15px;
  cursor: pointer; 
  margin: 0.7em;
  cursor: pointer; 
  background-color: #485F7F;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

.answer {
  margin: 1em 1em 0em 1em;
  cursor:default;
  border-radius: 5px;
  margin-top: 5px;
  width: 15em;
  font-size: 12px;
  text-align: start;
}

