html{
    scroll-behavior: smooth;
    font-family: 'Inter';
}

*{
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    justify-content: center;
}

nav{
    padding: 7px 15px 7px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



ul{
    list-style: none;
}

li{
    float: left;
}

a{
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
}

.nav-link {
    position: relative;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 5%;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
  }
  
  .nav-link.active::after {
    width: 95%;
  }

#Etusivu{
    max-width: 100%;
    height: 100vh;
    width: 100vw;
    background-image: url('../components/img/tummaetusivu3.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#Historia{
    max-width: 100%;
    height: 100vh;
    width: 100vw;
    background-image: url('../components/img/tummametsä.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: inline-block;
}

#Hakemus{
    max-width: 100%;
    height: 100vh;
    width: 100vw;
    background-image: url('../components/img/tummahakemus.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    display: inline-block;
}

#UKK{
    max-width: 100%;
    height: 100vh;
    width: 100vw;
    background-image: url('../components/img/tummaukk.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    display: inline-block;
}

#OtaYhteytta{
    max-width: 100%;
    height: 100vh;
    width: 100vw;
    background-image: url('../components/img/tummayhteytta2.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: inline-block;
}

#Footer{
    max-width: 100%;
    height: 175px;
    background: rgb(68, 68, 68);
    display: inline-block;
    width: 100vw;
}
  /* (medium phones) */
  @media (max-width: 375px) { 
    #Etusivu{
        background-attachment: fixed;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-attachment: scroll;

    }

  }

@media (max-width: 1024px) {
    /* Styles for screens smaller than 768px */
    a {
      font-size: 14px;
      margin: 15px 18px 15px 18px;
    }

    nav {
        width: 100%;
        height: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

  }
  @media (max-width: 1440px) {
  
    a {
      font-size: 16px;
      padding: 17px 20px 17px 20px;
    }

    nav {
        width: 100%;
        height: 1.7em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

  }