.lomake {
    display: flex;
    justify-content: center;
    height:24em;
    margin-top: 6em;

}

.lomakeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5em;
}

.Htext {
    width: 450px;
    color: white;
    font-size: 44px;
}

.text {
    width: 450px;
    font-size: 22px;
    margin: 1em 3em 0em 3em;
    padding-bottom: 1em;
    color: white;
}

.lomakebutton {
    display: flex;
    font-weight: bold;
    padding: 20px 54px 20px 54px;
    margin: 5px;
    margin-top: 20px;
    border-radius: 3px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Inter';
    align-self: flex-start;
    margin-left: 4em;
}
