.lomake {
    display: flex;
    justify-content: center;
    height:24em;
    margin-top: 5em;

}

.lomakeContent {
    display: flex;
    flex-direction: column;
align-items: center;
    padding-top: 1em;
}

.Htext {
    width: 400px;
    color: white;
}

.text {
    width: 400px;
    margin: 0em 3em 0em 3em;
    padding-bottom: 1em;
    color: white;
    text-align: start;
}

.lomakebutton {
    display: flex;
    font-weight: bold;
    padding: 20px 50px 20px 50px;
    margin: 5px;
    margin-top: 15px;
    border-radius: 3px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 18px;
    align-self: center;
}